#why {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 50px 20px 20px 20px;
    border: 10px solid #F6F6F6;
}

.why-title {
    font-family: 'Antonio Semibold';
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #DE642E;
    border-radius: 20px;
    letter-spacing: 3px;
    padding: 2px 30px 7px 30px;
}

.orange {
    
}

.welcome {
    position: absolute;
    background-color: #F6F6F6;
    margin-left: -25px;
    margin-right: -540px;
    margin-top: -60px;
    border-radius: 50%;
    padding: 0 32px 0 32px;
    border: 15px solid #FFFFFF;
    z-index: 1;
}

.welcome h2 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    padding-left: 20px;
    color: #DE642E;
}

.welcome h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-top: 0;
    margin-left: 100px;
    padding-left: 20px;
}

.process {
    display: flex;
    justify-content: center;
    align-items: center;
}

.process p {
    font-size: 25px;
    font-weight: 500;
    line-height: 23.6px;
}

.process-box h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.process-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.image-container {
    position: relative;
}

.why-conteiner {
    text-align: left;
    margin-left: 90px;
    margin-right: 50px;
}

.why-conteiner2 {
    text-align: right;
    margin-right: 90px;
    margin-left: 40px;
}

.why-conteiner2 p {
    margin-left: 5px;
    margin-right: 5px;
}

.question {
    margin-top: 30px;
}

.question h4{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 33px;
    font-weight: 500;
    margin: 0;
}

.question p {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
}

.bold {
    font-weight: 700;
}

.business {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.business-contain {
    margin-left: 10px;
    margin-right: 10px;
}

.business-text {
    text-align: left;
    width: 300px;
    height: 260px;
    overflow: hidden;
    font-size: 20px;
    background-color: #F6F6F6;
    padding: 1px 30px 1px 30px;
    border-radius: 20px;
}

.business-contain  h4 {
    font-family: 'Antonio Bold';
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    color: #bd4f09;
    margin-bottom: 10px;
}

.business-text p {
    
}

.image-process {
    width: 500px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888888;

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

.why-underline {
    background-color: #bd4f09;
    width: 120px;
    height: 4px;
    margin-left: 575px;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

@media (max-width: 1440px) { 
    #why {
        margin: 50px 5px 20px 5px;
    }

    .why-title {
        font-size: 17px;
    }

    .image-process {
        width: 260px;
        height: 420px; 
    }

    .why-conteiner {
        margin-left: 40px;
        margin-right: 10px;
    }

    .why-conteiner2 {
        margin-left: 10px;
        margin-right: 40px;
    }

    .why-conteiner h5{
        font-size: 20px;
    }

    .why-conteiner p{
        font-size: 17px;
    }

    .why-conteiner2 h5{
        font-size: 20px;
    }

    .why-conteiner2 p{
        font-size: 17px;
    }

    .welcome {
        margin-left: -60px;
        margin-right: -340px;
        padding: 0 25px 0 25px;
        margin-top: -50px;
    }
    
    .welcome h2 {
        font-size: 18px;
    }
    
    .welcome h3 {
        font-size: 18px;
        margin-left: 50px;
    }

    .question h4{  
        font-size: 25px;
    }

    .question p {
        font-size: 18px;
    }

    .business-contain {
        margin-left: 15px;
        margin-right: 0px;
    }

    .business-text {
        width: 210px;
        height: 210px;
        font-size: 15px;
        padding: 1px 25px 1px 25px;
    }

    .business-contain  h4 {
        font-size: 20px;
    }

    .why-underline {
        margin-left: 420px;
        width: 175px;
    }
}

@media (max-width: 1024px) { 
    #why {
        margin: 50px 0px 20px 0px;
    }
    
    .why-title {
        font-size: 13px;
    }

    .image-process {
        width: 200px;
        height: 350px; 
    }

    .why-conteiner {
        margin-left: 10px;
        margin-right: 10px;
    }

    .why-conteiner2 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .why-conteiner h5{
        font-size: 17px;
    }

    .why-conteiner p{
        font-size: 13px;
    }

    .why-conteiner2 h5{
        font-size: 17px;
    }

    .why-conteiner2 p{
        font-size: 13px;
    }

    .welcome {
        margin-left: -68px;
        margin-right: -340px;
        padding: 0 25px 0 25px;
        margin-top: -40px;
    }
    
    .welcome h2 {
        font-size: 15px;
    }
    
    .welcome h3 {
        font-size: 15px;
        margin-left: 40px;
    }

    .question h4{  
        font-size: 20px;
    }

    .question p {
        font-size: 14px;
        line-height: 20px;
    }

    .business-contain {
        margin-left: 10px;
        margin-right: 0px;
    }

    .business-text {
        width: 180px;
        height: 180px;
        font-size: 13px;
        padding: 1px 17px 1px 17px;
    }

    .business-contain  h4 {
        font-size: 15px;
    }

    .why-underline {
        margin-left: 310px;
    }
}

@media (max-width: 768px) { 
    #why {
        margin: 50px 20px 20px 20px;
    }

    .why-title {
        font-size: 18px;
    }

    .process {
        display: flex;
        flex-wrap: wrap;
    }

    .image-process {
        width: 250px;
        height: 400px; 
    }

    .why-conteiner {
        margin-left: 10px;
        margin-right: 10px;
    }

    .why-conteiner2 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .why-conteiner h5{
        text-align: center;
        font-size: 20px;
    }

    .why-conteiner p{
        font-size: 16px;
    }

    .why-conteiner2 h5{
        text-align: center;
        font-size: 20px;
    }

    .why-conteiner2 p{
        font-size: 16px;
    }

    .welcome {
        margin-left: -20px;
        margin-right: -340px;
        padding: 0 0px 0 0px;
        margin-top: -40px;
    }
    
    .welcome h2 {    
        font-size: 18px;
    }
    
    .welcome h3 {
        font-size: 18px;
        margin-left: 0px;
    }

    .question h4{  
        font-size: 25px;
    }

    .question p {
        font-size: 18px;
    }

    .business-contain {
        margin-left: 10px;
        margin-right: 0px;
    }

    .business-text {
        width: 260px;
        height: 240px;
        font-size: 18px;
        padding: 1px 25px 1px 25px;
    }

    .business-contain  h4 {
        font-size: 22px;
    }

    .why-underline {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 425px) { 
    #why {
        margin: 50px 0px 20px 0px;
    }

    .why-title {
        font-size: 16px;
    }

    .image-process {
        width: 100px;
        height: 150px; 
    }

    .why-conteiner {
        margin-left: 10px;
        margin-right: 10px;
    }

    .why-conteiner2 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .why-conteiner h5{
        text-align: center;
        font-size: 18px;
    }

    .why-conteiner p{
        text-align: center;
        font-size: 13.5px;
    }

    .why-conteiner2 h5{
        text-align: center;
        font-size: 18px;
    }

    .why-conteiner2 p{
        text-align: center;
        font-size: 13.5px;
    }

    .welcome {
        display: none;
    }

    .question h4{  
        font-size: 18px;
    }

    .question p {
        font-size: 17px;
    }

    .business-contain {
        margin-left: 0px;
        margin-right: 0px;
    }

    .business-text {
        text-align: center;
        width: 180px;
        height: 240px;
        font-size: 16px;
        padding: 1px 15px 1px 15px;
    }

    .business-contain  h4 {
        font-size: 15px;
    }

    .why-underline {
        width: 100%;
        margin-left: 0;
    }
}
   