#prueba {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.leader-title {
    width: 20%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #DE642E;
    border-radius: 20px 20px 0 0;
    letter-spacing: 3px;
    margin-bottom:0;
    padding: 3px 15px 8px 15px;
}

.container_cards {
    width: 80%;
    margin: auto;
    padding: 0px 0 70px 0;
    border-radius: 25px;
    border-top: 5px solid #DE642E;
    border-bottom: 5px solid #DE642E;
}

.card {
    width: 50%;
}

.card .cover {
    display: flex;
    position: relative;
    overflow: hidden;
}

.card .cover img {
    width: 300px;
    display: block;
    margin: auto;
    position: relative;
    top: 0px;
    z-index: 1;
    filter: drop-shadow(5px 15px 4px rgba(0,0,0.5));
    transition: all 400ms;
}

.card .cover h2 {
    font-family: "Montserrat", sans-serif;
    right: 100px;
    font-size: 50px;
    margin: auto;
    position: relative;
    top: 90px;
    z-index: 1;
}

.card .img_back {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img_back {
    background-image: url(/src/assets/fondo-img.avif);
    /*filter: grayscale(100%) drop-shadow(4px 4px 4px #EDEDED);*/
}

.card .biografia {
    text-align: center;
    font-family: 'ProximaNova';
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 0;   
    background: white;
    margin-top: -20px;
    padding: 50px;
    border: 2px solid #EDEDED;
    border-radius: 0 0 20px 20px;
    transition: all 300ms;
}

.card .biografia h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    text-align: center;
    margin-top: 10px;    
}


@media only screen and (max-width: 1440px) {
    .team-title {
        font-size: 17px;
    }

    .leader-title{
        font-size: 17px;
    }

    .container_cards {
        padding: 0px 0 130px 0;
    }

    .card {
        width: 280px;
        margin: 10px;
    }

    .card.active {
        width: 450px;
    }

    .card .biografia h2 {
        font-size: 18px;  
    }

    .card .biografia p {
        font-size: 13px;
    }

    .card.active .biografia p {
        font-size: 15px;
    }

    .card .cover {
        width: 100%;
        height: 250px;
    }

    .card .img_back {
        width: 100%;
        height: 150px;
        bottom: -80px;
    }

    .card .cover img {
        width: 170px;
        top: 110px;
    }

    .card.active .cover img {
        top: 90px;
        filter: none;
    }

    .card .biografia {
        margin-top: -10px;
        padding: 10px;
    }
    
}


@media only screen and (max-width: 1024px) {
    .team-title {
        font-size: 13px;
    }

    .leader-title{
        font-size: 13px;
    }

    .container_cards {
        padding: 0px 0 130px 0;
    }

    .card {
        width: 210px;
        margin: 10px;
    }

    .card.active{
        width: 450px;
    }

    .card .biografia h2 {
        font-size: 14px;  
    }

    .card .biografia p {
        font-size: 9px;
    }

    .card.active .biografia p {
        font-size: 10px;
        line-height: 19px;
    }

    .card .cover {
        width: 100%;
        height: 250px;
    }

    .card .img_back {
        width: 100%;
        height: 115px;
        bottom: -80px;
    }

    .card .cover img {
        width: 130px;
        top: 145px;
    }

    .card.active .cover img {
        top: 135px;
        filter: none;
    }

    .card .biografia {
        margin-top: -10px;
        padding: 6px;
    }
}



@media only screen and (max-width: 425px) {
    .team-title {
        font-size: 16px;
    }
    .card {
        width: calc(90% - 10px);  
        margin: 10px; 
    }

    .card .biografia h2 {
        font-size: 18px;  
    }

    .card .biografia p {
        font-size: 15px;
    }

    .card.active .biografia p {
        font-size: 16px;
    }
}