@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
  font-family: 'BebasNeue';
  src: url(/src/fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face{
  font-family: 'GlacialIndifference';
  src: url(/src/fonts/GlacialIndifference-Regular.otf) format('opentype');
}

@font-face{
  font-family: 'GlacialIndifference Bold';
  src: url(/src/fonts/GlacialIndifference-Bold.otf) format('opentype');
}

@font-face{
  font-family: 'Antonio Regular';
  src: url(/src/fonts/Antonio-Regular.ttf) format('truetype');
}

@font-face{
  font-family: 'Antonio Semibold';
  src: url(/src/fonts/Antonio-SemiBold.ttf) format('truetype');
}

@font-face{
  font-family: 'Antonio Bold';
  src: url(/src/fonts/Antonio-Bold.ttf) format('truetype');
}

@font-face{
  font-family: 'GillSansNova';
  src: url(/src/fonts/gillsansnova_book.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

p {
  font-family: 'GillSansNova';
}

h3 {
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  * {
    box-sizing: border-box;
  }
 
}